body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Avenir Black', Avenir, sans-serif;
}

h3 {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background-color: white;
    color: #22549B;
    font-family: 'Avenir Black';
    font-size: 14px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    color: #5BB264;
}

.banner {
    margin-top: 0;
    width: 100%;
    color: white;
    background-color: #dc4e4a;
    text-align: center;
    padding: 0;
    font-size: 0.8em;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: #22549B;
    margin: 0.5em;
    font-size: 0.8em;
}

.header h3 {
    display: inline;
}

.navbar {
    background-color: #22549B;
    color: white;
    display: flex;
    flex-flow: row wrap;
    padding: 0.5em 0;
    font-size: 14px;
    justify-content: space-around
}

@media screen and (max-width:550px) {
    .navbar a {
        font-size: 12px;
        margin: 1px 0.5em;
    }
}

.navbar a {
    font-size: 16px;
    /* margin: 1px 1em; */
}

.navbar a:visited {
    color: white;
}

.navbar a:hover {
    color: #5BB264;
}

.logo-wrapper {
    height: 70px;
    width: auto;
}

.logo {
    height: 70px;
    width: auto;
}

.quiz {
    width: 100vw;
}

.new-puzzles {
    text-align: center;
    margin: 1em 0;
}

.new-puzzles a {
    font-family: 'Avenir light' Avenir, sans-serif;
}

.new-puzzles-items {
    /* height: 60vh; */
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
}

.puzzle-item {
    margin: 1em;
}

.puzzle-item p {
    margin: 0.5em 0;
}


.puzzle-img {
    height: 30vh;
    width: auto;
}

.footer {
    color: #22549B;
    margin: 0;
}

.footer p {
    margin: 0;
}